div.container.container--outer.clients
    background-color rgba(34, 121, 156, .3)
    
    div.container--inner
        img
            width 800px
            height 322px
            
            @media screen and (max-width 880px)
                width 100%
                height 40.25%
    
