div.container.container--outer.contact
    background-color #daddda
    background-image url('assets/bg-contact.jpg')
    background-size cover
    background-position center
    background-repeat no-repeat
    div.container.container--inner
        h1
            margin-bottom 40px
            
        div.content-holder
            width 100%
            max-width 1120px
            
            div.content-box
                min-height 305px
                width 340px
                padding 20px
                background-color rgba(255,255,255,.6)
                
                &.hidden
                    opacity: 0; 
                    pointer-events: none;
                    
                    @media screen and (max-width 850px)
                        display none
                
                @media screen and (max-width 1130px)
                    width 30%
                    
                @media screen and (max-width 850px)
                    width 48%
                    
                @media screen and (max-width 550px)
                    width 100%
                    margin-bottom 20px
                
                div.text-content
                    width 100%
                
                img
                    margin-bottom 20px
                    
                div.logo-container
                    position absolute
                    left 20px
                    bottom 20px