div.container.container--outer.hero
    div.absolute-background
        background-image url('assets/bg-hero.jpg')
        background-size cover
        background-position center
        background-repeat no-repeat
        width 100vw
        height 66.04193139vw
        
    div.container.container--inner
        div.content-holder.content-holder--hori
            max-width 1120px
            
            div.content-box
                max-width 300px
                
                span.number
                    font-size 48px
                    color $text_black