@import 'variables.styl'
@import 'font.styl'
@import 'layout.styl'
@import 'mixins.styl'
@import 'navbar.styl'


@import 'hero.styl'
@import 'who-upper.styl'
@import 'references.styl'
@import 'what.styl'
@import 'offer.styl'
@import 'clients.styl'
@import 'team.styl'
@import 'partners.styl'
@import 'contact.styl'
@import 'popup.styl'
@import 'slider.styl'


_:-ms-input-placeholder, :root p.body_text
    max-width 480px
    
_:-ms-input-placeholder, :root div.container.container--outer.offer.first div.absolute-background
    display block
    left 0
    right 0
    
_:-ms-input-placeholder, :root div.container.container--outer.offer.first
    background-color #daddda
    
_:-ms-input-placeholder, :root div.container.container--outer.what div.container.container--inner
    height 100%