div.container.container--outer.what
    background-color rgba(34, 121, 156, .3)
    div.container.container--inner
        h2
            margin-bottom 40px
        div.content-holder
            width 100%
            max-width 1120px
            margin-bottom 40px
            div.content-box
                background-color rgba(255,255,255,.6)
                padding 20px
                max-width 340px
                
                h3
                    margin 30px 0
                    
                p 
                    text-align left
                    
                    i
                        font-style normal
                        color $text_black