div.container.container--outer.what
    background-color #bed6e2
    div.container.container--inner
        flex-flow row wrap
        justify-content space-between 
        align-items flex-start
        
        h1
            width 100%
            text-align center
            margin-bottom 20px
        
        div.text-content
            flex-flow column wrap
            justify-content center
            align-items center
            width 100%
            
            p
                margin-bottom 20px
                text-align center


        h2
            margin-bottom 10px
            
        div.verti-line
            width 1px
            height 1100px
            background-color #a1a1a1
            
            @media screen and (max-width 850px)
                display none
            
        div.content-holder
            width auto
            max-width 1120px
            padding 0 10px
            max-width 49%
            width 49%
            
            
            @media screen and (max-width 850px)
                max-width 100%
                width 100%
                margin-bottom 0px


            div.content-box
                justify-content center
                align-items center
                flex-flow column wrap

                // background-color rgba(255,255,255,.6)
                padding 20px
                max-width 100%
                width 100%
                min-height 320px
                margin-bottom 20px
                
                &.heading
                    min-height 0px
                    width 100%
                    
                    h2
                        width 100%
                        text-align center
                
                    
                @media screen and (max-width 850px)
                    max-width 100%
                    width 100%
                    margin-bottom 20px
                    min-height 0px
                    
                @media screen and (max-width 550px)
                    flex-flow column wrap
                
                div.text-content
                    max-width 80%
                    flex-flow column wrap
                    justify-content flex-start
                    align-items flex-start
                    
                    @media screen and (max-width 550px)
                        max-width 100%
                    
                    h3
                        text-align center
                        margin-top 0px
                        margin-bottom 10px
                        
                img
                    margin-bottom 20px
                    
                    @media screen and (max-width 550px)
                        margin-right 0
                        margin-bottom 20px
                
                h3
                    width 100%
                    text-align center
                    
                p 
                    text-align center
                    
                    i
                        font-style normal
                        color $text_black