div.container.container--outer.who-upper
    background-color #daddda
    
    div.container.container--inner
        align-items flex-start
        div.content-holder
            max-width 60%
            h1
                margin-bottom 20px
                
            p.bigger
                margin-bottom 30px
                font-size 24px
                
            h2
                margin-bottom 20px