div.container.container--outer.who-upper
    background-color transparent
    min-height 590px
    // background-image url('assets/bg-who.png')
    background-size 1260px 590px
    
    @media screen and (max-width 600px)
        min-height 820px
        
    @media screen and (max-width 500px)
        min-height 900px
        
    @media screen and (max-width 400px)
        min-height 1000px

    
    div.absolute-background
        background-image url('assets/bg-who.jpg')
        background-size 1260px 590px
        width 1280px
        height 680px
        

        @media screen and (max-width 1260px)
            background-size cover
            height 100%
        
        @media screen and (max-width 750px)
            background-image none            

    div.container.container--inner
        div.text-container
            max-width 60%
            
            @media screen and (max-width 750px)
                max-width 100%

            h1
                margin-bottom 20px
                
            h2
                text-align left
                margin-top 60px
                
            p.bigger
                margin-bottom 30px
                font-size 24px
                
            h2
                margin-bottom 20px